/* FB COMMENTS */
#fb-comments-container .fb-comment-disclaimer {	font-size: 16px;line-height: 27px;float: right;margin-bottom: 20px;}
#fb-comments-container{width:100%;}

/* UNDO STORY PAGE STYLES */
article p,article h1,article h2,article h3,article h4,article h5,article h6 {max-width:none;line-height:1.3em}

/* advert wrapper */
.advert-wrapper {margin-top:39px;margin-bottom:25px;}

.right{float:right;margin:0px 0;}

/* limit content to a 768px, horizontally centered grouping */
.constrained768{max-width:768px;margin:0 auto;}

.credits{margin-top:25px;}
#intro br, hr{display:none;}
#intro h1{font-size:60px;}

/* perfect for charting legends*/
.box{display: inline-block;background-color: black;height: 13px;width: 13px;margin: 0 5px 0 15px;}

/*basic chart styles*/
.grafx-wrapper p {font-family:'Arial', sans-serif;}
.grafx-wrapper .explainer {font-family: 'arial', sans-serif;font-size: 15px;line-height: 1.4em;color: #666;}
.grafx-wrapper .grfx-label {font-family: 'arial', sans-serif;font-weight:bold;font-size: 17px;line-height: 1.3em;margin-bottom: 3px;}

/* bar chart styles */
.grafx-wrapper table {width:100%}
.grafx-wrapper .year{width:50px}
.grafx-wrapper table tr {border-bottom:none;}
.grafx-wrapper table td div{
	height:20px;
	background-color:#D0D0D0;
	text-align:right;
	float:left;
	margin-right:6px;
	border-top:1px solid #fbfcfc;
	border-bottom:1px solid #fbfcfc;
}

.grafx-wrapper table tr.highlight div{background-color:#0D3058;}
.grafx-wrapper table tr.highlight div small {color:#fff;}
.grafx-wrapper table tr.highlight td{font-weight:bold}

.grafx-wrapper small{
	font-size:11px;
	font-weight:bold;
	font-family:'Arial',sans-serif;
	margin: 0 6px 0 0;
}

.grafx-wrapper table td{
	font-family:'Arial',sans-serif;
}

.grafx-wrapper table th{
	text-align:left;
	font-family:'Arial',sans-serif;
	font-weight:bold;
}

.grafx-wrapper table thead tr{
	border-bottom:1px solid black;
}


/*TIMELINE STYLES*/
.timeline-wrapper .date{
	margin: 25px 0 15px 0;
	text-align:left;
	position:relative;

}

.timeline-wrapper .date h4 {
	font-weight: bold;
	font-family: 'Arial', sans-serif;
	display: inline-block;
	margin:0 0 0 25px;
	font-size: 20px;
	padding: 5px 10px;
	background-color: #fbfcfc;
	border: 1px solid black;
	border-top:none;
	border-bottom:none;
	
}

.timeline-wrapper .date span{
	border-top: 1px solid #888;
	display: block;
	position: absolute;
	width: 100%;
	top: 45%;
	z-index: -1;
}

.timeline-wrapper hr{
	border-top:1px solid #888;
}

.timeline-content{
	max-width:600px;
	margin: 0 370px 0 auto;
}

.timeline-box {
	background-color: #eee;
	border: 1px solid #bbb;
	font-style: italic;
	padding: 15px;
	clear: both;
}

.timeline-box p:last-child{
	margin-bottom: 0;
}


.timeline-content .img-wrapper{
/*	max-width:400px;*/
}

.timeline-content .img-wrapper.half-left{
float:left;
margin:0 15px 15px 0;
max-width:40%;
}

.timeline-content .img-wrapper.half-right{
float:right;
margin:0 0 15px 15px;
max-width:40%;
}

.timeline-content .img-wrapper.mug{
	float:left;
	margin:0 15px 15px 0;
	max-width:100px;
}

.timeline-content .img-wrapper.full{
	max-width:100%;
}

.timeline-content .img-wrapper img{
	width:100%;
}

/*TIMELINE DOT-NAV STYLES*/

.dot-bar-wrapper{
	box-shadow: 0 3px 3px rgba(0,0,0,.45);
	width: 100%;
	height: 20px;
	background-color: #0d1123;
	top: 40px;
	left: 0;
	border-bottom: 1px solid #0d1123;
	z-index: 2000;
	position: fixed;
	border-top: 1px solid white;
	padding-top: 9px;
}

.dot-bar-wrapper .year{
	float:left;
	width: 10%;
	text-align:right;

}

.dot-bar-wrapper .container-fluid .dot-bar{
	float:left;
	width: 80%;
	height:20px;
	position:relative;
	padding-right:0px;
}

.dot-bar-wrapper .year h4{
	color:#fff;
	font-family:'Arial', sans-serif;
	font-weight:bold;
	margin:0;
	padding:0;
	font-size: 12px;
	margin-right:5px;
	}
	
.dot-bar-wrapper .year:last-child {
	float:right;
}

.dot-bar-wrapper .year:last-child  h4{
	margin-left:12px;
	margin-right:0;
	text-align:left;
}

.dot{
	position:absolute;
	height:20px;
	width:7px;
	background-color:#fff;
	top:0;
	border-radius: 2px 2px 0 0;
	opacity:.3;
}
.active, .dot:hover{opacity:1;}

.tooltip-inner{
	font-family:'Arial', sans-serif;
	font-weight:bold;
}

.timeline-content.highlight {background-color: #FDFDF4;padding: 25px;}
.timeline-wrapper.highlight {background-color: #FDFDF4;/*padding-bottom: 25px;*/}
.dot.highlight{background-color:yellow; opacity:.55;}

/* RETURN BUTTON CSS */
#return-wrapper{position:fixed;bottom: 30px;right: 50px;}
a.return{position:relative;}
a.return:hover{text-decoration:none;}
a.return i{position:absolute;}
i.icon-circle{opacity:.8}
i.icon-arrow-up{color: white;left: 5px;}

/* for maps */
.timeline-map{
	width:100%;
	height:300px;
	border:1px solid #888;
	clear:both;
	margin-bottom: 25px;
}


@media (max-width: 1024px) {
	.timeline-wrapper .date{margin: 45px 0 25px 0;text-align:center;}
	.timeline-wrapper .date h4{margin-left:0;}

}


@media (max-width: 1000px) {
	.dot-bar-wrapper{top:0;;border-top:0;padding:0 0 8px 0;}
	.dot {border-radius:0 0 2px 2px;}
	.navbar-fixed-top {margin-top: 29px; border-top: 1px solid white}
}


@media (max-width: 768px) {
	.advert-wrapper.right{float: none;margin: 25px 0;}
	.timeline-content{margin:0 auto;}

	.timeline-wrapper .date h4{font-size:17px;}
	.timeline-content .img-wrapper{margin-top:15px;}
}

@media (max-width: 600px) {
	.dot-bar-wrapper .year h4{display:none;}
	.dot-bar-wrapper .container-fluid .dot-bar {
		float: none;
		width: 97%;
	}
}

@media (max-width: 480px) {
	#intro h1{font-size:40px;}
	#intro br {display:block;}
 	.dot-bar-wrapper{display:none}
	.navbar-fixed-top {margin-top: 0px;}
}

@media (max-width: 410px){
	.advert {
		margin-left: -20px;
	}
}