{% extends "_base.html" %}

{% block scripts %}
<script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.4/waypoints.min.js'></script>
{% if is_there_a_map|upper == 'TRUE' %}
	<script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
{% endif %}
<script type='text/javascript' src='js/app.js'></script>
{% endblock %}

{% block css %}
{% if is_there_a_map|upper == 'TRUE' %}
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
{% endif %}
<link rel="stylesheet" type="text/css" href="css/styles.css">
{% endblock %}

{% block meta %}
<meta property="fb:app_id" content="306836229411287" />
<meta http-equiv="content-type" content="text/html; charset=utf-8">
{% endblock %}

{% block content %}
{% include '_dot-nav.html' %}
<div class="container-fluid">
	<div class='advert-wrapper'>
		<div class='advert center' data-ad-type='leaderboard'></div>
	</div>
	<article>
		<section id='intro'>
			<h1>{{ headline|process_text() }}</h1>
			{% if show_latest_info_box|lower == "show" %}
			<div class='row-fluid'>
				<div class='span4'>
					<p>{{ chatter|process_text() }}</p>
				</div>
				<div class='span8'>
					<div id='latest-box' class="alert">
						<h4>The latest news</h4>
							<div class='row-fluid'>
								{% for row in timeline[::-1]  %}
								{% if loop.index < 4 %}
								<div class='span4'>
									<a href='#{{row.uniqueID}}'>
										<p><em>{{ row.date_display }}</em></p>
										<p><strong>{{ row.headline }}</strong></p>
									</a>
								</div>
								{% endif %}
								{% endfor %}
							</div>
					</div>
				</div>
			</div>
			{% else %}
			<p>{{ chatter|process_text() }}</p>
			{% endif %}
			<div class='clearfix'></div>
		</section>
		<section id='timeline' >
		{% include '_timeline-module.html' %}
		</section>
		<div class='credits'>
			<p>{{ sources }}</p>
			{% if is_there_a_credits_box|upper == 'FALSE'%}
			<p>{{ credits }}</p>
			{% endif %}
		</div>
		{% if is_there_a_credits_box|upper == 'TRUE'%}
		<div class="credits-wrapper">
			<div class="credits-inner">
				{% for row in credits %}
				<p>{{ row.role }} <span>{{ row.names }}</span></p>
				{% endfor %}
			</div>
		</div>  		

		{% endif %}
		{% include '_facebook_comments.html' %}
	</article>
</div>
{% endblock content %}
